.img_ops {
  position: relative;
}

.img_ops::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background-color: #333333;
  opacity: 0.4;
}



/* background: '#82C3EC' */